<div *ngIf="product" class="product-card">
  <div class="product-image">
    <div [style]="{backgroundColor}" class="product-image__background"></div>
    <img [src]="productImage" alt="product name" class="image" loading="lazy"/>
  </div>
  <div class="product-details">
    <div>
      <p *ngIf="product?.isSponsored" class="sponsored">Sponsored</p>
      <div class="product-name-volume">
        <p class="product-name">
          {{product?.name}}
        </p>
        <span class="product-volume">{{product?.volume}}</span>
      </div>
    </div>

    <div class="product-price-counter">
      <p class="product-price">CHF {{product?.price}}</p>
      <app-product-counter class="product-card__counter"></app-product-counter>
    </div>
  </div>

</div>
