@import "src/assets/styles/variables";
@import "src/assets/styles/functions";

.product-card {
  width: 100%;
  background-color: $sysret-primary;
  box-shadow: $sysret-product-card-shadow;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 26% 74%;
  align-items: flex-end;
  padding: 18px;
  height: 110px;

  .product-image {
    background-size: contain;
    background-position: center;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .image {
      width: auto;
      height: 90%;
      position: absolute;
      z-index: 2;
    }

    &__background {
      background: red;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 80%;
      z-index: 1;
    }
  }

  .product-details {
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;

    .sponsored {
      color: $sysret-sponsored-text;
      font-size: rem-calc(10);
      font-weight: normal;
    }

    .product-name-volume {
      display: flex;
      align-items: center;

      .product-name {
        font-weight: 600;
        max-width: 86%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .product-volume {
        color: $sysret-volume-text;
        font-size: rem-calc(12);
        font-weight: 500;
        margin-left: 6px;
      }
    }

    .product-price-counter {
      display: grid;
      grid-template-columns: 60% 40%;
      align-items: flex-end;

      .product-price {
        color: $sysret-text;
        font-size: rem-calc(20);
        font-weight: normal;
      }
    }
  }
}
