@import "src/assets/styles/variables";

.btn {
  font-weight: 500;
  text-transform: capitalize;

  &.regular {
    height: 54px;
    border-radius: 27px;
    background-color: $sysret-secondary;
    color: $sysret-primary;
    padding: 0 50px;
    border: 1px solid $sysret-secondary;
    box-shadow: $sysret-orange-shadow;
  }

  &.stripped {
    color: $sysret-secondary;
    background-color: transparent;
    border: 0;
  }

  &.display {
    background-color: $sysret-counter-back;
    color: $sysret-text;
    border: 0;
    padding: 8px 6px;
    font-weight: normal;
  }

  &.round {
    background-color: $sysret-primary;
    color: $sysret-volume-text;
    border: 0;
    height: 24px;
    width: 24px;
    border-radius: 50px;

    &.secondary {
      background-color: $sysret-secondary;
      color: white;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &:active {
    opacity: 0.6;
  }
}
