$sysret-white: #FFF;
$sysret-text: #333333;
$sysret-counter-back: #F5F7FB;
$sysret-card-back: #FF66000F;
$sysret-sponsored-text: #999999;
$sysret-volume-text: #666666;
$sysret-orange: #FF6600;
$sysret-footer-back: #FF66001F;
$sysret-orange-shadow: #FF893B69 8px 8px 24px;;

