$sysret-primary: #FFF;
$sysret-text: #333333;
$sysret-counter-back: #F5F7FB;
$sysret-sponsored-text: #999999;
$sysret-volume-text: #666666;
$sysret-secondary: #FF6600;
$sysret-counter-back: #F5F7FB;
$sysret-footer-back: #FF66001F;
$sysret-orange-shadow: #FF893B69 8px 8px 24px;
$sysret-product-card-shadow: #FF66000F 0px 10px 30px;


